<template>
  <div class="center-information">
    <p>We have {{centersCount}} centers</p>
    <ul v-if="centers">
      <li v-for="center in centers" :key="center.id">
        {{center.name}} - {{center.description}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'CenterInformation',
  computed: {
    centersCount () {
      return this.$store.getters['centers/centersCount']
    },
    centers () {
      return this.$store.state.centers.centers
    }
  }
}
</script>