<template>
  <div id="app">
    <div class="wrapper">
      <h1>Vaccination App (vuex)</h1>
      <CenterInformation />
    </div>
  </div>
</template>

<script>
import CenterInformation from '@/components/CenterInformation.vue'

export default {
  name: 'App',
  components: {
    CenterInformation
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}
</style>
